{% extends "base.html" %}

{% block content %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-4">
          <form action="" class="auth_form" id="changePasswordForm" method="post" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">

              <div class="row">
                <div class="col-sm-6 flashed-text">
                  {% with messages = get_flashed_messages() %}
                    {% if messages %}
                      {{ messages[0] }}
                    {% endif %}
                  {% endwith %}
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6 form_input">
                  <div class="form_label">
                    {{ form.password.label }}
                  </div>
                    {{ form.password(class_="form-control") }}
                </div>

                <div class="col-sm-6">
                  <div class="passwordErrorContainer" id="passwordErrorContainer">
                    <label id="password-error" class="error" for="password">
                      {% if form.password.errors[0] %}
                        <-- {{ form.password.errors[0] }}
                      {% endif %}
                    </label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6 form_input">
                  <div class="form_label">
                    {{ form.repeat_password.label }}
                  </div>
                    {{ form.repeat_password(class_="form-control") }}
                </div>

                <div class="col-sm-6">
                  <div class="repeatPasswordErrorContainer" id="repeatPasswordErrorContainer">
                    <label id="repeat_password-error" class="error" for="repeat_password">
                      {% if form.repeat_password.errors[0] %}
                        <-- {{ form.repeat_password.errors[0] }}
                      {% endif %}
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-sm-2 offset-sm-2">
                {{ form.submit(class_="btn btn-outline-light auth_button", type="submit", value="Confirm", id="BtnSubmit") }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
