body{
	margin: 0;
	padding: 0;
}
div, p, form, input, a, span, button {
	box-sizing: border-box;
}
h2, h3 {
	padding: 0;
	margin: 0;
}
a, a:hover, a:active {
	text-decoration: none;
}
ul, li{
	display: block;
}

a{
	color: #0056b3;
}

.text-align-center{
	text-align: center;
}

/* Header */
header .navbar{
	padding-top: 12px;
	padding-bottom: 10px;
}

header .btn-outline-light {
	padding: 6px;
	border-radius: 1px;
	width: 80px;
}

.b-reg {
	display: inline-block;
	margin-right: 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
	position: absolute;
	right: 0px;
  background-color: white;
	box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.2);
  width: 100px;
	z-index: 1;
}

.dropdown-content a {
  color: black;
	border: 1px solid white;
	border-radius: 1px;
	width: 100px;
  text-decoration: none;
  display: block;
}

header .dropbtn{
	border-radius: 1px;
	width: 100px;
}

.dropdown-content a:hover {background-color: #ffc2c2;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {
	background-color: white;
	color: black;
	border-bottom: 1px solid black;
}
/* Header end */

/* Download section */

.playlist_url{
	padding-top: 18px;
}

.carousel-caption-authorized{
	padding-bottom: 0px;
	height: 533px;
}

.download{
	padding-top: 35px;
	padding-bottom: 30px;
}

.download h2{
	padding-top: 20px;
	padding-bottom: 20px;
}

label .error{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 0.95rem;
	height: 25px;
}

.error{
	margin-bottom: 0px;
}

.progress_yt{
	margin-bottom: 0px;
}

.form_input{
	margin-top: 0px;
}

.ytErrorLabelContainer{
	height: 25px;
}

.ytLabelContainer{
	margin: 1px;
	height: 25px;
	display: block;
}

.progress_sc{
	margin-bottom: 0px;
}

.form_input{
	margin-top: 0px;
}

.scErrorLabelContainer{
	height: 25px;
}

.scLabelContainer{
	margin: 1px;
	height: 25px;
	display: block;
}

.chose_holder{
	height: 30px;
	border: 0px;
	border-radius: 8px;
	background-color: black;
	opacity: 0.6;
}

.repair_tags_checkbox{
	margin-top: 7px;
}

.chose_holder .row{
	margin: 0px;
}

.chose_holder .col-xs-2{
	padding-left: 0px;
}

.chose_holder .col-sm-9{
	text-align: center;
	padding-right: 0px;
}

.repair_tags label{
	margin-top: 3px;
}

.quality_chose{
	margin-top: 1px;
	height: 28px;
}

.chose_holder3 label{
	display: none;
}

.chose_holder3 select{
	display: none;
}

.settings{
	margin-top: 12px;
}

.settings label{
	margin-bottom: 2px;
}

/* Download playlist items */

.download_playlist_button{
	margin-top: 18px;
	color: black;
	border-color: black;
	width: 100%;
}

.download_playlist_button:hover{
	color: white;
	background: black;
	border-color: black;
}

.download_playlist_form{
	padding-top: 36px;
}

.download_playlist_form .form_label{
	margin-top: 6px;
	margin-bottom: 2px;
}

.download_playlist_form .form_label label{
	margin: 0px;
}

.download_playlist_form .chose_holder label{
	color: white;
}

.indexes{
	margin-top: 18px;
}

.index1-label{
	margin-left: 39px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.index2-label{
	margin-top: 2px;
	margin-bottom: 2px;
}

.index1{
	text-align: center;
}

.index2{
	text-align: center;
	margin-left: 74px;
}

.bg-1{
	border: 0px;
	border-radius: 6px;
	background-color: #e9f4fb;
	padding-top: 3px;
	padding-bottom: 3px;
}

.download_progress_bar_holder{
	background-color: white;
	height: 4px;
	border-radius: 2px;
}

.download_progress_bar_item_holder{
	background-color: white;
}

.download_progress_bar_item{
	background-color: #8cccf5;
	width: 2%;
	margin-left: 1px;
	margin-right: 1px;
	height: 4px;
	border-radius: 2px;
}

.side-info-line{
	width: 2px;
	height: 64px;
	background-color: black;
	margin-left: 63px;
	margin-right: 9px;
}

.side-info{
	font-size: 14px;
	height: 64px;
}

.padding-top-30{
	padding-top: 30px;
}

.progress_section{
	padding-top: 76px;
}

.playlist_downloading_progress{
	padding-top: 8px;
	text-align: center;
	font-size: 18px;
}

.download_playlist_button{
	margin-top: 7px;
	margin-bottom: 6px;
}

/* Error pages */

.error_section{
	padding-top: 80px;
	text-align: center;
}

.error_section h1{
	color: #ca3b07;
}

.error_section h4{
	color: #ca3b07;
	padding-bottom: 20px;
	padding-bottom: 20px;
}

.error_section p{
	color: #1558c3;
}

/* Auth pages */

.auth_form{
	padding-top: 36px;
}

.auth_form .form_label{
	margin-top: 6px;
	margin-bottom: 2px;
}

.auth_form .form_label label{
	margin: 0px;
}

.auth_button{
	margin-top: 18px;
	color: black;
	border-color: black;
}

.auth_button:hover{
	color: white;
	background: black;
	border-color: black;
}

.usernameErrorContainer{
	margin-top: 36px;
}

.emailErrorContainer{
	margin-top: 36px;
}

.passwordErrorContainer{
	margin-top: 36px;
}

.repeatPasswordErrorContainer{
	margin-top: 36px;
}

.flashed-text{
	font-size: 19px;
	height: 22px;
	color: #ca3b07;
	text-align: center;
}

.flashed-text-add{
	text-align: center;
}

.info-section{
	padding-top: 80px;
}

.remember_me{
	margin-top: 20px;
}

.forgot-password{
	text-align: center;
	margin-top: 18px;
}


@media (max-width: 576px) {
	.chose_holder{
		width: 40%;
		margin-left: 6%
	}

	.repair_tags{
		width: 40%;
		margin-left: 7%
	}

	.repair_tags .col-sm-9{
		width: 55%;
	}

	.repair_tags .col-sm-2{
		width: 40%;
		margin-left: 5%
	}

	.side-info{
		width: 70%;
	}

	.side-info-line{
		height: 78px;
	}

	.height-100{
		height: 100px;
	}
}

@media (min-width: 0px) {
	.index1-label{
		margin-left: 4%;
		margin-top: 2px;
		margin-bottom: 2px;
	}

	.index2{
		text-align: center;
		margin-left: 8%;
	}
}

@media (min-width: 400px) {
	.index1-label{
		margin-left: 8%;
		margin-top: 2px;
		margin-bottom: 2px;
	}

	.index2{
		text-align: center;
		margin-left: 6%;
	}
}

@media (min-width: 430px) {
	.index2{
		text-align: center;
		margin-left: 8%;
	}
}

@media (min-width: 450px) {
	.index2{
		text-align: center;
		margin-left: 12%;
	}
}

@media (min-width: 470px) {
	.index2{
		text-align: center;
		margin-left: 15%;
	}
}

@media (min-width: 500px) {
	.index2{
		text-align: center;
		margin-left: 17%;
	}
}

@media (min-width: 530px) {
	.index2{
		text-align: center;
		margin-left: 23%;
	}
}

@media (min-width: 540px) {
	.index2{
		text-align: center;
		margin-left: 25%;
	}
}

@media (min-width: 576px) {
	.index1-label{
		margin-left: 39px;
		margin-top: 2px;
		margin-bottom: 2px;
	}

	.index2{
		text-align: center;
		margin-left: 140px;
	}
}

@media (min-width: 768px) {
	.index1-label{
		margin-left: 39px;
		margin-top: 2px;
		margin-bottom: 2px;
	}

	.index2{
		text-align: center;
		margin-left: 198px;
	}

	.cover_image{
		width: 240px;
		padding-top: 120px;
	}

	.cover_image2{
		width: 160px;
		padding-top: 120px;
	}
}

@media (min-width: 992px) {
	.index1-label{
		margin-left: 39px;
		margin-top: 2px;
		margin-bottom: 2px;
	}

	.index2{
		text-align: center;
		margin-left: 132px;
	}

	.cover_image{
		width: 280px;
		padding-top: 80px;
	}

	.cover_image2{
		width: 200px;
		padding-top: 80px;
	}
}

@media (min-width: 1200px) {
	.index1-label{
		margin-left: 39px;
		margin-top: 2px;
		margin-bottom: 2px;
	}

	.index2{
		text-align: center;
		margin-left: 74px;
	}
}
