body{
	margin: 0;
	padding: 0;
}
div, p, form, input, a, span, button {
	box-sizing: border-box;
}
h2, h3 {
	padding: 0;
	margin: 0;
}
a, a:hover, a:active {
	text-decoration: none;
}
ul, li{
	display: block;
}

a{
	color: #0056b3;
}

.text-align-center{
	text-align: center;
}

/* Header */
header .navbar{
	padding-top: 12px;
	padding-bottom: 10px;
}

header .btn-outline-light {
	padding: 6px;
	border-radius: 1px;
	width: 80px;
}

.b-reg {
	display: inline-block;
	margin-right: 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
	position: absolute;
	right: 0px;
  background-color: white;
	box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.2);
  width: 100px;
	z-index: 1;
}

.dropdown-content a {
  color: black;
	border: 1px solid white;
	border-radius: 1px;
	width: 100px;
  text-decoration: none;
  display: block;
}

header .dropbtn{
	border-radius: 1px;
	width: 100px;
}

.dropdown-content a:hover {background-color: #ffc2c2;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {
	background-color: white;
	color: black;
	border-bottom: 1px solid black;
}
/* Header end */

/* Download section */
.download{
	padding-top: 35px;
	padding-bottom: 30px;
}

.download h2{
	padding-top: 20px;
	padding-bottom: 20px;
}

label .error{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 0.95rem;
	height: 25px;
}

.error{
	margin-bottom: 0px;
}

.progress_yt{
	margin-bottom: 0px;
}

.form_input{
	margin-top: 0px;
}

.ytErrorLabelContainer{
	height: 25px;
}

.ytLabelContainer{
	margin: 1px;
	height: 25px;
	display: block;
}

.progress_sc{
	margin-bottom: 0px;
}

.form_input{
	margin-top: 0px;
}

.scErrorLabelContainer{
	height: 25px;
}

.scLabelContainer{
	margin: 1px;
	height: 25px;
	display: block;
}

/* Error pages */

.error_section{
	padding-top: 80px;
	text-align: center;
}

.error_section h1{
	color: #ca3b07;
}

.error_section h4{
	color: #ca3b07;
	padding-bottom: 20px;
	padding-bottom: 20px;
}

.error_section p{
	color: #1558c3;
}

/* Auth pages */

.auth_form{
	padding-top: 36px;
}

.auth_form .form_label{
	margin-top: 6px;
	margin-bottom: 2px;
}

.auth_form .form_label label{
	margin: 0px;
}

.auth_button{
	margin-top: 18px;
	color: black;
	border-color: black;
}

.auth_button:hover{
	color: white;
	background: black;
	border-color: black;
}

.usernameErrorContainer{
	margin-top: 36px;
}

.emailErrorContainer{
	margin-top: 36px;
}

.passwordErrorContainer{
	margin-top: 36px;
}

.repeatPasswordErrorContainer{
	margin-top: 36px;
}

.flashed-text{
	font-size: 19px;
	height: 22px;
	color: #ca3b07;
	text-align: center;
}

.flashed-text-add{
	text-align: center;
}

.info-section{
	padding-top: 80px;
}

.remember_me{
	margin-top: 20px;
}

.forgot-password{
	text-align: center;
	margin-top: 18px;
}
