<!DOCTYPE html>
<html lang="en">
<head>
	{% if title %}
	<title>{{ title }}</title>
	{% else %}
	<title>Dfy</title>
	{% endif %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="images/x-icon">
</head>

<body>
	<header class="header" id="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="{{ url_for('main.index') }}">DFY</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
				 data-target="#contanctmain" aria-controls="contanctmain" aria-expanded="false"
				 aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="contanctmain">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link active" href="{{ url_for('main.index') }}">Main Page</a></li>
					</ul>
					{% if current_user.is_authenticated %}
						<div class="dropdown" style="float:right;">
						  <button class="btn btn-outline-light dropbtn">User</button>
						  <div class="dropdown-content">
								<a class="btn btn-outline-light" href="{{ url_for('auth.request_password_change') }}">Change Password</a>
						    <a class="btn btn-outline-light" href="{{ url_for('auth.logout') }}">Sign Out</a>
						  </div>
						</div>
					{% else %}
						<a class="btn btn-outline-light b-reg" type="" href="{{ url_for('auth.sign_in') }}">Sign In</a>
						<a class="btn btn-outline-light" type="" href="{{ url_for('auth.sign_up') }}">Sign Up</a>
					{% endif %}
				</div>
			</div>
		</nav>
	</header>

	{% block content %}{% endblock %}

</body>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-migrate-1.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.validate.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>
