{% extends "base.html" %}

{% block content %}
	<section class="download">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div id="carouselControls" class="carousel slide" data-interval="false">
					  <div class="carousel-inner">
							{% if active_slide == 1 %}
							<div class="carousel-item active">
							{% else %}
							<div class="carousel-item">
							{% endif %}
					      <img class="d-block w-100" src="{{ url_for('static', filename='img/slider.jpg') }}" alt="First slide">
								{% if current_user.is_authenticated %}
									<div class="carousel-caption carousel-caption-authorized d-none d-md-block">
								{% else %}
									<div class="carousel-caption d-none d-md-block">
								{% endif %}
									<img src="{{ url_for('static', filename='img/youtube.png') }}" width="360px">

									<form action="download_yt" id="dfyt" method="post" enctype="multipart/form-data" novalidate>
										{{ youtube_form.hidden_tag() }}
										<div class="form-group">
											<div class="col-sm-10 offset-sm-1 form_input">
												{{ youtube_form.link(class_="form-control", placeholder="Enter link") }}
											</div>

											<div class="ytLabelContainer">
												<div class="ytErrorLabelContainer" id="ytErrorLabelContainer">
													{% with messages = get_flashed_messages(category_filter=["yt"]) %}
													{% if messages %}
													<label id="link-error" class="error" for="link">{{ messages[0] }}</label>
													{% endif %}
													{% endwith %}
												</div>
												<p id="progress_yt", class="progress_yt"></p>
											</div>

											<div class="col-sm-4 offset-sm-4">
												{{ youtube_form.submit(class_="btn btn-outline-light download_button", type="submit", value="Download", id="BtnSubmit1") }}
											</div>

											{% if current_user.is_authenticated %}
												<div class="row">
													<div class="col-sm-6 offset-sm-3 settings">
														<div class="col-sm-6 quality_chose_holder">
															{{ youtube_form.quality.label }}
															{{ youtube_form.quality(class_="quality_chose") }}
														</div>
													</div>
												</div>
											{% endif %}

										</div>
									</form>

							  </div>
					    </div>

							{% if active_slide == 2 %}
							<div class="carousel-item active">
							{% else %}
							<div class="carousel-item">
							{% endif %}
					      <img class="d-block w-100" src="{{ url_for('static', filename='img/slider2.jpg') }}" alt="Second slide">
								{% if current_user.is_authenticated %}
									<div class="carousel-caption carousel-caption-authorized d-none d-md-block">
								{% else %}
									<div class="carousel-caption d-none d-md-block">
								{% endif %}
									<img src="{{ url_for('static', filename='img/soundcloud.png') }}" width="280px" style="margin-bottom: 40px; margin-top: 40px">

									<form action="download_sc" id="dfsc" method="post" enctype="multipart/form-data" novalidate>
										{{ soundcloud_form.hidden_tag() }}
										<div class="form-group">
											<div class="col-sm-10 offset-sm-1 form_input">
												{{ soundcloud_form.link(class_="form-control", placeholder="Enter link") }}
											</div>

											<div class="scLabelContainer">
												<div class="scErrorLabelContainer" id="scErrorLabelContainer">
													{% with messages = get_flashed_messages(category_filter=["sc"]) %}
													{% if messages %}
													<label id="link-error" class="error" for="link">{{ messages[0] }}</label>
													{% endif %}
													{% endwith %}
												</div>
												<p id="progress_sc", class="progress_sc"></p>
											</div>

											<div class="col-sm-4 offset-sm-4">
												{{ soundcloud_form.submit(class_="btn btn-outline-light download_button", type="submit", value="Download", id="BtnSubmit2") }}
											</div>

											{% if current_user.is_authenticated %}
												<div class="row">
													<div class="col-sm-6 offset-sm-3 settings">
														<div class="col-sm-6 quality_chose_holder">
															{{ soundcloud_form.quality.label }}
															{{ soundcloud_form.quality(class_="quality_chose") }}
														</div>
													</div>
												</div>
											{% endif %}

										</div>
									</form>

							  </div>
					    </div>
					  </div>
					  <a class="carousel-control-prev" id="carousel-control1" href="#carouselControls" role="button" data-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="carousel-control-next" id="carousel-control2" href="#carouselControls" role="button" data-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}
